<nav class="navbar navbar-light bg-light">
    <span class="navbar-text">
      <h1> 1.3 Uso de controles</h1>
    </span>
  </nav>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img id="imgForm" src="../../../assets/images/driver.jpg" class="card-img-top" alt="...">
        </div>
       <div id="desarrolloId" class="col-sm-8">
           <p class="text-justify">
            los drivers son pequeños programas informáticos desarrollados para que el sistema operativo
             –en este caso Android- puedan interactuar con periféricos y otro tipo de accesorios.
              Sin ellos el hardware no se podría utilizar, de ahí que los drivers sean una parte 
              crítica de Android.
           </p>
       </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p class="text-justify">
                Estos ‘pequeños programas informáticos’ hacen una abstracción del hardware y proporcionan 
                una interfaz, normalmente estandarizada, para que sea posible la utilización de los
                 dispositivos. Se trata, tanto en el sistema operativo Android como en otros, de una 
                 pieza de software esencial y, sobre todo, del núcleo del sistema operativo. La versión 
                 de Android distribuida por la propia Google ya incluye prácticamente todos los drivers
                  necesarios para el correcto funcionamiento del dispositivo. Sin embargo, en su capa de 
                  personalización algunos fabricantes incluyen drivers adicionales.
            </p>
        </div>
        <div class="col-sm-4 ml-auto">
            <img id="imgForm" src="../../../assets/images/programas_informaticos.png" class="card-img-top" alt="...">
        </div>
    </div>

    
</div>
