

  
  <nav class="navbar navbar-light" style="background-color: #FF927D;">
    <!-- Navbar content -->
    Topicos Selectos de Aplicaciones m&oacute;viles
  </nav>





<div class="list-group">
    <a routerLink="/metodologia" class="list-group-item list-group-item-action" style="background-color:#98D033;">
        1.1 Metodolog&iacute;a de desarrollo y ejecuci&oacute;n
    </a>
    <a href="#" class="list-group-item list-group-item-action" style="background-color:#98D033;">1.2 Uso de formularios Web m&oacute;vil.</a>
    <a href="#" class="list-group-item list-group-item-action" style="background-color:#98D033;">1.3 Uso de controles.</a>
    <a href="#" class="list-group-item list-group-item-action" style="background-color:#98D033;">1.4 Creación Interfaces de usuario.</a>
    <a href="#" class="list-group-item list-group-item-action" style="background-color:#98D033;">1.4.1 Tecnologías de diseño</a>
  </div>