<nav class="navbar navbar-light bg-light">
    <span class="navbar-text">
      <h1>Tema 1.4 Creación Interfaces de usuario. </h1>
    </span>
  </nav>

  <div class="container" id="container-design">
    <div class="row">
        <div class="col-sm-4">
            <img id="imgForm" src="../../../assets/images/interfaces.png" class="card-img-top" alt="...">
        </div>
       <div id="desarrolloId" class="col-sm-8">
           <p class="text-justify">
            La interfaz de usuario (IU) de una app de Android se compila como una jerarquía de diseños 
            y widgets. Los diseños son objetos ViewGroup, contenedores que controlan cómo se posicionan 
            sus vistas secundarias en la pantalla. Los widgets son objetos View, componentes de la IU, 
            como botones y cuadros de texto.
           </p>
       </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1>Tecnologías de diseño</h1>
            <h5>Material Design</h5>
            <p class="text-justify">
                Material Design son las métricas de diseño de aplicaciones fueron construidas por Google
                 y traídas a Android a partir de la versión 5.0 Lollipop.
            </p>
            <img id="imgForm" src="../../../assets/images/material_design.jpg" class="card-img-top" alt="..." style="width: 250px;">
            <p class="text-justify">
                Específicamente lo que se introdujo es un tema nuevo, nuevos widgets y nuevas API’s de desarrollo.
            </p>
            <p class="text-justify">
                Sobre los widgets nuevos, entendamos widgets por elementos de la interfaz gráfica. Tenemos los siguientes:
<br>
Tarjetas
<br>
Listas de Tarjetas
<br>
Una nueva Toolbar
<br>
Bottom Bar
<br>
Nuevos botones de acción
<br>
Editores de texto con efectos
<br>
Etc.
<br>
Material Design está basado en el manejo real y físico de materiales,
 como son especialmente hojas de papel, además que este, permite jugar con las sombras para crear efectos tridimensionales, la integración de animaciones es tan realista que se comportarán de acuerdo a las leyes de la física, por lo tanto para general esto último tenemos API’s de desarrollo que se integraron para trabajar con efectos y animaciones que hagan más interactivo el diseño.
            </p>
            <h5>Flutter</h5>
            <p class="text-justify">
                Flutter es el nuevo SDK de Google creado para diseñar interfaces nativas iOS y Android. Utiliza el lenguaje de programación Dart y fue creado para programadores de interfaces móviles.
                 Esto es el comienzo de lo porvenir en lo que será el frontend mobile.
            </p>
            <img id="imgForm" src="../../../assets/images/flutter_widget.png" class="card-img-top" alt="..." style="width: 400px;">
        
        <h5>HTML5</h5>
        <p class="text-justify">
            HTML5  es la última versión de HTML. El término representa dos conceptos diferentes:

Se trata de una nueva versión de HTML, con nuevos elementos, atributos y comportamientos.
Contiene un conjunto más amplio de tecnologías que permite a los sitios Web y a las aplicaciones ser más diversas y de gran alcance. A este conjunto se le llama HTML5 y amigos, a menudo reducido a HTML5 .
Diseñado para ser utilizable por todos los desarrolladores de Open Web, esta página referencía numerosos recursos sobre las tecnologías de HTML5, clasificados en varios grupos según su función.
        </p>
        <img id="imgForm" src="../../../assets/images/htlml5.png" class="card-img-top" alt="..." style="width: 200px;">
        <h5>CSS3</h5>
        <p class="text-justify">
            CSS (siglas en inglés de Cascading Style Sheets), en español «Hojas de estilo en cascada», es un lenguaje de diseño gráfico para definir y crear la presentación de un documento estructurado escrito en un lenguaje de marcado.2​ Es muy usado para establecer el diseño visual de los documentos web, e interfaces de usuario escritas en HTML o XHTML; el lenguaje puede ser aplicado a cualquier documento XML, incluyendo XHTML, SVG, XUL, RSS, etcétera. Te puede ayudar a crear tu propio sitio web. Junto con HTML y JavaScript, CSS es una tecnología usada por muchos sitios web para crear páginas visualmente atractivas, interfaces de usuario 
            para aplicaciones web y GUIs para muchas aplicaciones móviles (como Firefox OS).3​
        </p>
        <img id="imgForm" src="../../../assets/images/css.jpg" class="card-img-top" alt="..." style="width: 200px;">
        <h5>JavaScript</h5>
        <p class="text-justify">
            JavaScript (JS) es un lenguaje de programación ligero, interpretado, o compilado justo-a-tiempo (just-in-time) 
            con funciones de primera clase. <br>
            JavaScript es un lenguaje de programación basada en prototipos, multiparadigma, de un solo hilo, dinámico, con soporte para programación orientada a objetos, 
            imperativa y declarativa (por ejemplo programación funcional).
        </p>
        <img id="imgForm" src="../../../assets/images//javascript.png" class="card-img-top" alt="..." style="width: 200px;">
    </div>
    </div>

   
</div>





