<nav class="navbar navbar-light bg-light">
    <span class="navbar-text">
      <h1> 1.2 Uso de formularios web M&oacute;vil</h1>
    </span>
  </nav>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img id="imgForm" src="../../../assets/images/form.jpg" class="card-img-top" alt="...">
        </div>
       <div id="desarrolloId" class="col-sm-8">
           <p class="text-justify">
            Los formularios móviles son aplicaciones diseñadas para dispositivos móviles que permiten la 
            creación y el envío de formularios que contienen una amplia variedad de información. En el 
            mundo de los negocios, los formularios móviles ayudan a las empresas con empleados en terreno
             a optimizar su proceso de recopilación de datos porque presentan una forma más efectiva y
            precisa que los formularios de papel tradicionales. Algunos consejos para la creación de formularios 
            móviles son los siguientes:
           </p>
       </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h1>Usa formularios verticales</h1>
            <p class="text-justify">
                Los dispositivos móviles tienen una pantalla más pequeña que los ordenadores.
                 Es importante tener en cuenta este detalle al momento de diseñar formularios.
                  Una práctica bien aceptada es hacer que el formulario esté alineado 
                  verticalmente en vez de horizontalmente. Esto ayuda a que se adapte de manera
                   natural al formato de los smartphone.
            </p>
        </div>
        <div class="col-sm-4 ml-auto">
            <img id="imgForm" src="../../../assets/images/vertical_form.jpg" class="card-img-top" alt="...">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <img id="imgForm" src="../../../assets/images/menu_desplegable.jpg" class="card-img-top" alt="...">
        </div>
       <div id="desarrolloId" class="col-sm-8">
           <h1>Haz uso de menús desplegables</h1>
           <p class="text-justify">
            En los dispositivos móviles, los usuarios deben desplazarse para poder ver
             una página completa. Si tu formulario tiene más de cuatro campos (como podría 
             ser el caso de una tienda online, por ejemplo), entonces es probable que el usuario tenga que desplazarse para poder ver todo el formulario. En ciertos casos, esta situación puede evitarse al incluir menús desplegables. <br>
             Los menús desplegables son súper útiles pues reducen el tiempo que el usuario pasa rellenando un formulario y les facilita la tarea pues ya no tienen que ingresar la información manualmente.
           </p>
       </div>
    </div>
</div>